@{
    ViewBag.Title = "Inscription réussie";
}
<h2>@ViewBag.Title</h2>
<hr />

<div>
    Bonjour @ViewBag.Name,<br />
    <br />
    Votre @ViewBag.Type a été enregistrée.<br />
    <br />
    Vous allez recevoir un courriel qui contiendra le lien vers la confirmation de votre adresse courriel.<br />
    <br />
    Merci et bonne journée.<br />
    <br />
    Webmestre
</div>

