
@{
    ViewBag.Title = "Erreur de vérification";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="text-danger">
    Une erreur est survenue avec la confirmation du courriel
</div>
<br />
@Html.ActionLink("Retour à la page de connexion", "Login")
